@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RFDewi-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RFDewi-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'RF Dewi';
    src: url('../fonts/RFDewi-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}