
$primary-bg: #13131B;
$secondary-bg: #22222C;
$text-color: #F3F2F8;
$card-font-color: #000;
$border-color: #282832;
$card-gradient-1: linear-gradient(to right, #d7a5f3, #8b5cf6);
$card-gradient-2: linear-gradient(to right, #ff9800, #ffc107);
$card-gradient-3: linear-gradient(135deg, #ff6b6b, #ff8e8e);
$fill-gradient: linear-gradient(to right, #d7a5f3, #8b5cf6);
$primary-font: 'RF Dewi', sans-serif;